

<div style="text-align:center;">
    <table class="table-bordered" style="border-top: 4px  #737373 solid">
        <thead>
        <th colspan="2" style="background-color:#737373;color:#fff">this is a node app test</th>
        </thead>
        <tbody>
        <tr><th colspan="2" style="text-align:center">i am dandingol03</th> </tr>
        <tr>
            <td>cookie</td>
            <td><%=cookie%></td>
        </tr>
        <tr>
            <td>session</td>
            <td><%=session%></td>
        </tr>
        </tbody>
    </table>
</div>
